/* 
    Document   : page
    Created on : Aug 1, 2013, 5:35:13 PM
    Author     : chung-pi <cdao@cs.uef.fi>
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background: #f2f2f2;
}

#container{
    width: 1050px;
    margin: 0 auto;
}

#header{
    padding:0;
    height:42px;
    background-color:#f2f2f2;
    font-family: Times, serif;
    width:1050px;
    margin:54px 12px 0;
    border-bottom:1px solid #bec0c4;
}

#logo{
    float: left;
    width: 170px;
    font-size: 35px;
}

#page_title{
    float: left;
    width: 400px;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 10px;
    border-left: 1px solid #bec0c4;
}

#menu{
    float: right;
    margin-top: 10px;
}

#menu .item{
    float: left;
    margin: 0 6px;
    font-size: 20px;
}

#content{
    width:1050px;
    height: 1500px;
}

#content #intro{
    width:1070px;
    height: 300px;
}

blockquote.style1 {
    font: 18px/20px italic Times, serif;
    padding: 8px;
    background-color: #faebbc;
    border-top: 1px solid #e1cc89;
    border-bottom: 1px solid #e1cc89;
    margin: 5px;
    background-image: url(images/openquote1.gif);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 23px;
}
blockquote.style1 span {
    display: block;
    background-image: url(images/closequote1.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
}

blockquote.style2 {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 70px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

.apptitle{
    margin: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    color: deeppink;
}

#content #app1{
    width:1050px;
    height: 650px;
    border: 1px solid #bec0c4;
    margin: 5px 10px;
    float: left;
}

#content #app1 iframe{
    float: left;
    width: 500px;
    height: 350px; 
}

#content #app1 #description{
    float: left;
    width: 450px;
    height: 350px; 
}

#content #app1 #appbody{
    float: left;
    width: 1050px;
    height: 250px; 
}

#appbody #static{
    float: left;
    width: 500px;
    margin: 0px 10px;
    border-right: 1px solid #bec0c4;
}

#appbody #video{
    float: left;
    width: 500px;
    margin: 0px 10px;
}

#appbody #note1{
    float: left;
    width: 500px;
    margin: 10px 10px;
}

#appbody #note2{
    float: left;
    width: 500px;
    margin: 10px 10px;
}

#appbody .offline
{
    background: -webkit-linear-gradient(top, #90ce4d, #588824);
    background: -moz-linear-gradient(top, #90ce4d, #588824);
    background: -o-linear-gradient(top, #90ce4d, #588824);
    background: linear-gradient(top, #90ce4d, #588824);
    border:1px solid #538320;
}

/* Hover effect*/
#appbody .offline:hover
{
    background: -webkit-linear-gradient(top, #70a338, #304e11);
    background: -moz-linear-gradient(top, #70a338, #304e11);
    background: -o-linear-gradient(top, #70a338, #304e11);
    background: linear-gradient(top, #70a338, #304e11);
}

#content #app2{
    width:475px;
    height: 315px;
    border: 1px solid #bec0c4;
    margin: 5px 12px;
    float: left;
}

#content #app3{
    width:475px;
    height: 315px;
    border: 1px solid #bec0c4;
    margin: 5px 0;
    float: right;
}

.upload{
    margin: 3px 3px;
}

.result{
    height: 200px;
    border: 1px solid #bec0c4;
    margin: 7px 2px;
}

#footer{
    width:1000px;
    border-top: 1px solid #bec0c4;
    font-size: 12px;
}
